@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Tiro+Bangla:ital@0;1&family=Zain&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Tiro+Bangla&family=Zain:wght@200;300;400;700;800;900&display=swap');
.title{
    margin-top: 50px;
    text-align: center;
    font-family: "Rubik", sans-serif;
}

.title h1{
    font-family: "Calistoga", serif;
    font-size: 70px;
    letter-spacing: 7px;
    color: #0e3742;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}

.title-nb h5{
    text-align: center;
    background: rgb(10, 44, 107);
    margin: 15px auto;
    width: 30%;
    padding: 15px;
    border-radius: 25px;
    font-family: "Tiro Bangla", serif;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}

.title-nb h5:hover{
    background: red;
}

.news{
    margin-top: 10%;
    background: #0e3742;
}

.news p{
    font-family: "Tiro Bangla", serif;
    font-size: 25px;
    color: #0aeaf1;
    font-weight: bold;
    margin-top: 20px;
}

@media screen and (max-width: 780px)
{

    .title{
        margin-top: 50px;
        text-align: center;
        font-family: "Rubik", sans-serif;
    }
    
    .title h1{
        font-family: "Calistoga", serif;
        font-size: 30px;
        letter-spacing: 7px;
        color: #0e3742;
        text-transform: uppercase;
        -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
        line-height: 0.90em;
        outline: none;
        animation: animate 5s linear infinite;
    }
    
    @keyframes animate{
        0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
            color: #0e3742;
            text-shadow: none;
        }
        18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
            color: #fff;
            text-shadow: 0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4,
            0 0 160px #03bcf4;
        }
    }









    .title-nb h5{
        text-align: center;
        background: rgb(10, 44, 107);
        margin: 15px auto;
        width: 54%;
        padding: 15px;
        border-radius: 25px;
        font-family: "Tiro Bangla", serif;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
    }
    
    .title-nb h5:hover{
        background: red;
    }
    
    .news{
        background: #0e3742;
    }
    
    .news p{
        font-family: "Tiro Bangla", serif;
        font-size: 25px;
        color: #0aeaf1;
        font-weight: bold;
        margin-top: 20px;
    } 
}



.title p{
    font-family: "Calistoga", serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: bisque;
}

.para p{
    font-family: "Calistoga", serif;
    font-size: 20px;
    text-align: center;
    color: antiquewhite;
}

.btn.xtra{
    border-radius: 25px;
    padding: 25px;
    font-size: 25px;
    margin-top: 105px;
    --box-shadow-color: black;
    box-shadow: 0 0 50px #007bff;
}


.footer{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
}

html{
    scroll-behavior: smooth;
}