.title{
    margin-top: 50px;
    text-align: center;
    font-family: "Rubik", sans-serif;
}

.title h1{
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    text-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
   }


.img-fluid{
    max-width: 100%;
    height: auto;
}

.card-body{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-title{
    flex-grow: 1;
}



html{
    scroll-behavior: smooth;
}